

<%- include('../Layout/user/hedder.ejs') -%>


<body>
    <!-- Header Section Begin -->
    <header class="header">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <H4>EXIMIUS</H4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active" ><a href="/store" >Shop</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


   
    <div class="error-page py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h1 class="display-1 text-primary mb-3">404</h1>
                    <h2 class="mb-4">Oops! Page Not Found</h2>
                    <p class="lead mb-5">We're sorry, but the page you're looking for doesn't exist or has been moved.</p>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg me-3">
                            <i class="fas fa-home me-2"></i>Go To Homepage
                        </a>
                        <a href="/store" class="btn btn-outline-primary btn-lg">
                            <i class="fas fa-search me-2"></i>Browse Products
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
               
            </div>
        </div>
    </section>

